{% extends 'layout.twig' %}

{% block body %}
    <div class="container mt-4" id="charts">
        <h2>Ronin.Rest Analytics</h2>

    </div>

{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module">

        const IGNORED_ROUTES = [
            "index.health",
            "internal.analytics",
            "index.routes"
        ]

        window.onload = async function () {

            async function loadData() {
                const response = await fetch('https://go.ronin.rest/internal/analytics');
                const data = await response.json();

                const output = [];

                for (const entry of data) {

                    if (IGNORED_ROUTES.includes(entry.label)) {
                        continue;
                    }

                    output.push({
                        label: entry.label,
                        fill: true,
                        labels: entry.data.map(k => k.timestamp),
                        data: entry.data.map(k => k.request_count)
                    })
                }
                return output;
            }

            const data = await loadData();

            const charts = document.getElementById('charts');

            for (const d of data) {
                const c = document.createElement("canvas");
                charts.appendChild(c);
                new Chart(
                    c,
                    {
                        type: "line",
                        data: {
                            datasets: [
                                {
                                    label: d.label,
                                    data:d.data
                                }
                            ],
                            labels: d.labels,
                        },
                        options: {
                            spanGaps: true
                        }
                    }
                )

            }

        }
    </script>
{% endblock %}
