{% extends 'layout.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Ronin.Rest Analytics</h2>

        <canvas id="analytics"></canvas>

        <div class="container">
        </div>

    </div>

{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module">

        const IGNORED_ROUTES = [
            "index.health",
            "internal.analytics",
            "index.routes"
        ]

        window.onload = async function () {

            let LABELS = []

            async function loadData() {
                const response = await fetch('https://go.ronin.rest/internal/analytics');
                const data = await response.json();

                const output = [];

                for (const entry of data) {

                    if (IGNORED_ROUTES.includes(entry.label)) {
                        continue;
                    }

                    for (const d of entry.data) {
                        LABELS.push(d.timestamp);
                    }

                    output.push({
                        label: entry.label,
                        data: entry.data.map(k => {
                            return k.request_count;
                        }).sort(),
                    })
                }
                return output;
            }

            const data = await loadData();
            console.log(LABELS)

            const LBL = [...new Set(LABELS)].sort();

            new Chart(
                document.getElementById("analytics"),
                {
                    type: "line",
                    labels: LBL,
                    data: {
                        labels: LBL,
                        datasets: data,
                        spanGaps: true,
                    }
                }
            )
        }
    </script>
{% endblock %}
